:root {
    --font-title: 35px;
    --font-body: 30px;
    --font-small: 20px;
    --margin-left: 40px;

}


.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-title {
    padding: 10px;
    font-size: var(--font-title);
    text-align: center;
}
/*
.nav-tabs {
    font-style: normal;
    font-size: 25px;
    padding: 20px;
}*/

.nav-item {
    font-style: normal;
    font-size: var(--font-title);
    padding: 20px;
}

span { 
    font-style: italic
}

.main {
    position: absolute;
    top: 100px;
    left: 20px;
    margin-left: var(--margin-left);
}



.myimage {
    width: 280px;
    height: 150px;
    margin-top: 10rem;
}

aside {
    float: right;
    padding-left: 0.5rem;
    margin-left:var(--margin-left);
    margin-top: 14rem;
    font-style: normal;
    font-size: var(--font-body);
    color: black;

}

.new-form {
    width: 80%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: var(--font-body);
   }

.form-line {
  
  display: block;
  width: 80%;
  padding: 0.75rem;
  font-size: var(--font-body);
 /* color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
 */


}

.form-button {
    
    width: 80%;
    padding: 0.5rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: auto;
    font-size: var(--font-small);
    border: 1px solid #484848;
    border-radius: 0.3rem;
    
}


.page-title {
    margin-top: 40px;
   /* margin-left: var(--margin-left);*/
}

.footer {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: var(--font-small);
}