:root {
    --font-title: 35px;
    --font-body: 30px;
    --font-small: 20px;
    --margin-left: 40px;
    --padding-normal: 20px;
    --padding-large: 40px;
}


.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-title {
    padding: var(--padding-large);
    font-size: var(--font-title);
    text-align: center;
}

.nav-item {
    font-style: normal;
    font-size: var(--font-title);
    padding: 20px;
}

span { 
    font-style: italic
}

.main {
    position: absolute;
    top: 100px;
    left: 20px;
    margin-left: var(--margin-left);
}

.page-title {
    margin-top: 40px;
 
}

.page-main {
    padding-top: var(--padding-normal);
    font-size: var(--font-small);
}


.myimage {
    width: 280px;
    height: 150px;
    margin-top: 150px;
}

aside {
    float: right;
    padding: var(--padding-normal);
    margin-left:var(--margin-left);
    margin-top: 185px;
    font-size: var(--font-body);

}

.new-form {
    
  /*  color: #1a1a1a;
    background-color: #ffffff;*/
    font-size: var(--font-body);
   }

.form-line {
  
    display: block;
    width: 80%;
    padding: var(--padding-normal);
    font-size: var(--font-body);
}



.form-button {
    
    width: 80%;
    padding: 0.5rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: auto;
    font-size: var(--font-small);
    border: 1px solid #484848;
    border-radius: 0.3rem;
    
}


.portfolio-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-normal);
    font-size: var(--font-body);
}

.reference {
    font-size: var(--font-small);

}

.footer {
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: var(--font-small);
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding-right: var(--padding-normal);
    
}

.footer-line {
    display: flex;
		flex: wrap;
		justify-content: space-between;
		flex: 1 0 600px;
		padding-right: 100px;
}